<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.open-ace.web</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/rhuang/workspace/open-ace/start_web.sh</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/rhuang/workspace/open-ace</string>
    <key>StandardErrorPath</key>
    <string>/Users/rhuang/workspace/open-ace/logs/web_server.err</string>
    <key>StandardOutPath</key>
    <string>/Users/rhuang/workspace/open-ace/logs/web_server.out</string>
</dict>
</plist>
